<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>
<%= link_to 'edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'index', restaurants_path %>
<%= link_to 'destroy', restaurant_path(@restaurant), method: :delete %>
